html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.App {
  display: flex;
  flex-direction: column;
}

.RefetchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  border: none;
  transition: all 100ms ease-in-out;
}

.RefetchButton:hover {
  background-color: red;
  color: #fff;
}
